<div id="<%= dom_id produto %>" class="card mb-3">
  <%# Removido código antigo e aplicado Bootstrap %>
  <%= image_tag produto.foto, class: "card-img-top", alt: produto.name %>
  <div class="card-body">
    <h5 class="card-title"><%= produto.name %></h5>
    <p class="card-text"><strong>Preço:</strong> R$ <%= produto.preco %></p>
    <p class="card-text"><strong>Descrição:</strong> <%= produto.descricao %></p>
  </div>
</div>
